<%- include('../partials/Header.ejs') -%>
    <div class="container">
        <div class="d-flex justify-content-between my-5">
            <h2>User</h2>
            <a href="/adduser"><button class="btn btn-info px-3 py-2">Add User</button></a>
        </div>
        <table class="table table-bordered  table-striped table-hover" style="background-color: #e3f2fd;">
            <thead>
                <tr>
                    <th class="text-center p-2">S.R. No.</th>
                    <th class="text-center p-2">NAME</th>
                    <th class="text-center p-2">EMAIL</th>
                    <th class="text-center p-2">GENDER</th>
                    <th class="text-center p-2">COMPONY</th>
                    <th class="text-center p-2">SALARY</th>
                    <th class="text-center p-2">ADDRESS</th>
                    <th class="text-center p-2">ACTION</th>
                </tr>
            </thead>
            <tbody>
                <% if(User.length> 0) { %>
                    <% User.forEach((item, id)=> { %>
                        <tr>
                            <td class="text-center p-2">
                                <%= id + 1 %>
                            </td>
                            <td class="p-2">
                                <%= item.name %>
                            </td>
                            <td class="p-2">
                                <%= item.email %>
                            </td>
                            <td class="p-2">
                                <%= item.gender %>
                            </td>
                            <td class="p-2">
                                <%= item.compony %>
                            </td>
                            <td class="p-2">
                                <%= item.Salary %>
                            </td>
                            <td class="p-2">
                                <%= item.address %>
                            </td>
                            <td class="d-flex p-2 justify-content-center">
                                <a href="/updateuser/<%= id%>" class="btn btn-warning  me-2"><i
                                        class="bi bi-pencil"></i></a>
                                <a href="/deleteuser/<%= id%>"><button class="btn btn-danger ms-2"><i
                                            class="bi bi-trash"></i></button></a>
                            </td>
                        </tr>
                        <% }) %>
                            <% } else { %>
                                <tr>
                                    <td colspan="8" class="text-center p-2">No data available</td>
                                </tr>
                                <% } %>
            </tbody>
        </table>
    </div>
    <%- include('../partials/Footer.ejs') -%>